@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@candor-design/tokens/tokens/candor-tokens.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family-base), "Helvetica Neue", sans-serif;
}
